{{template "header_insession" .}}
<div class="row">
    <div class="col-12">
        <h2>Docker Stats</h2>
        {{if .Error}}<div class="alert alert-danger">Error:{{.Error}}</div>{{end}}
        {{if eq .list nil}}<div class="alert alert-danger">There is no active containers</div>{{end}}
        <div class="card">
            <div class="card-body">
                <table id="dockerStats" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Container</th>
                            <th>Name</th>
                            <th>CPU %</th>
                            <th>Mem Usage</th>
                            <th>Mem %</th>
                            <th>Net I/O</th>
                            <th>Block I/O</th>
                            <th>PIDs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .list}}
                        <tr>
                            <td><a href="/container?id={{.Container}}">{{.Container}}</a></td>
                            <td>{{.Name}}</td>
                            <td class="text-end">{{.CPU}}</td>
                            <td class="text-end">{{.MemUsage}}</td>
                            <td>{{.MemPerc}}</td>
                            <td class="text-end">{{.NetIO}}</td>
                            <td class="text-end">{{.BlockIO}}</td>
                            <td class="text-end">{{.PIDs}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{template "footer_insession" .}}